@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200 dark:bg-black transition-all duration-150 ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.reactGiphySearchbox-poweredByGiphy {
  display: none;
}
.reactGiphySearchbox-searchForm-input {
  @apply border-2 border-gray-300 dark:text-white hover:border-red-400 dark:border-blue-100 dark:placeholder-white dark:bg-blue-300 focus:border-red-400 dark:focus:border-blue-400 transition duration-150 transform hover:scale-110 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none !important;
}
.reactGiphySearchbox-image {
  @apply transform hover:scale-110 rounded-lg;
}
img {
  @apply transition duration-150 transform hover:scale-110;
  border: 0;
  text-decoration: none;
  outline: none;
}
img,
a {
  border: none;
  outline: none;
}

img::selection {
  background: transparent;
}
.reactGiphySearchbox-imageButton {
  @apply bg-transparent	!important;
}
.reactGiphySearchbox-message {
  @apply bg-red-300 rounded text-white text-center p-2;
  -webkit-animation: scaleUpDown 0.5s ease both;
  animation: scaleUpDown 0.5s ease both;
}
.scaleUpDown {
  -webkit-animation: scaleUpDown 0.5s ease both;
  animation: scaleUpDown 0.5s ease both;
}
@-webkit-keyframes scaleUpDown {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2);
  }
}
@keyframes scaleUpDown {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
svg:before, svg:after {
  -webkit-animation: scaleUpDown 0.5s ease both;
  animation: scaleUpDown 0.5s ease both;
}
.anim {
  @apply transition-all duration-100 ease-in-out;
}