@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-red-100 dark:bg-gray-900 transition-all duration-150 ease-in-out select-none;
}
img,
a,
img::selection {
  @apply: border-none outline-none bg-transparent	no-underline;
}
.message {
  @apply bg-red-300 dark:bg-gray-700 rounded text-white text-center p-2;
  -webkit-animation: scaleUpDown 0.5s ease both;
  animation: scaleUpDown 0.5s ease both;
}
.scaleUpDown {
  -webkit-animation: scaleUpDown 0.5s ease both;
  animation: scaleUpDown 0.5s ease both;
}
@-webkit-keyframes scaleUpDown {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2);
  }
}
@keyframes scaleUpDown {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
svg:before,
svg:after {
  -webkit-animation: scaleUpDown 0.5s ease both;
  animation: scaleUpDown 0.5s ease both;
}
.anim {
  @apply transition-all duration-100 ease-in-out;
}

.lds-heart {
  @apply: inline-block relative w-20 h-80 transform rotate-45;
  transform-origin: 40px 40px;
}
.lds-heart div {
  @apply bg-red-500 dark:bg-blue-300 absolute w-8 h-8 top-8 left-8;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  @apply bg-red-500 dark:bg-blue-300 absolute block w-8 h-8;
}
.lds-heart div:before {
  border-radius: 50% 0 0 50%;
  @apply: -left-6;
}
.lds-heart div:after {
  border-radius: 50% 50% 0 0;
  @apply: -top-6;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
